.directory
**/target
**/.env*
**/.venv*
**/venv*
**/____*
/.vscode
/src/wsgi_test.py
/tmp/*
!/tmp/README.md
/config/*
!/config/README.md
!/config/.env.example
/storage-dev/*
/storage-dev
/storage/*
!/storage/README.md
/src/component/*_local/
**/custom-snippets.ntpl
!/src/component/**/*_hellocomp/**/custom-snippets.ntpl
**/custom.json
!/src/component/**/*_hellocomp/**/custom.json

.python-version
__pycache__/
.pytest_cache/
*.py[cod]
.Python
.venv/
env/
build/
develop-eggs/
dist/
eggs/
lib/
!/src/component/**/**/lib/
lib64/
parts/
sdist/
var/
include/
man/
venv/
*.egg-info/
.installed.cfg
*.egg

pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

*.log
*.pot

.DS_Store
docs/_build/
.idea/
